
<style>
	.container{
		width: 500px;
		border: 1px solid whitesmoke;
		padding: 20px;
		box-shadow: rgba(99,99,99,.05)2px 2px 2px;
		margin:0 auto;
	}
	.space{
		margin: 5px;
		width: 100%;
		padding: 5px;
	}
	#user-name,#password{
		width: 100%;
		padding: 8px;
	}
	button[type='button']{
		padding: 10px;
		width: 100%;
		text-align: center;
	}h2{
		text-align: center;
	}
</style>
<div class="container">
	<h2>
		Admin Login
	</h2>
	<div class="space">
		<input type="text" name="" id="user-name" placeholder="user-name">
	</div>
	<div class="space">
		<input type="password" name="" id="password" placeholder="Password">
	</div>
	<div class="space">
		<button type="button" class="btn-login">Login</button>
	</div>
</div>

<script>
	const button = document.querySelector('.btn-login');
	const username = document.getElementById('user-name');
	const password = document.getElementById('password');
	button.addEventListener('click', async function(){
		const data = {
			username:username.value,
			password:password.value
		}
		this.textContent = 'Loggin in';
   await  new Promise(resolve=>setTimeout(resolve,3000));
      // console.log(data);
   let login = await fetch('/login-admin',{
   	method:'POST',
   	headers:{
   		'Content-Type':'application/json'
   	},
   	body:JSON.stringify(data)
   });
   const result = await login.json();
   console.log(result);
   if(result.status==1){
   localStorage.setItem('token',result.token);
   localStorage.setItem('admin-name',result.name);
   localStorage.setItem('admin-email',result.email);
   localStorage.setItem('user-name',result.username);

   location.href = '/admin/dashboard';
   }
// console.log()
	})
</script>